body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #333333;
}

* {
    border-radius: 15px;
}

.header {
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: 10px;
    background-color: bisque;
    align-items: center;
    justify-content: center;
}

.gamebox {
    background-color: rgb(87, 93, 84);
    width: 60vh;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 10px;
    row-gap: 10px;
    padding: 10px;
    margin: 10px;
}

.gamebox button {
    background-color: #96a6c1;

    /* border: 1px solid black;
    color: aqua; */
    padding: 20%;
    font-size: 30px;
    text-align: center;
}

#reset {
    padding: 10px;
    font-size: 30px;
    margin: 10px;
}